name: Sync

on:
  push:
    branches:
      - main
  schedule:
    # every 12 hours
    - cron: '0 */12 * * *'


jobs:
  copy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ["1.24", "1.25", "1.26"]
    steps:
    - name: install crane
      uses: imjasonh/setup-crane@v0.4
    - name: login
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: copy
      run: |
        crane copy golang:${{ matrix.version }} antrea/golang:${{ matrix.version }}
    - name: copy nanoserver
      run: |
        crane copy golang:${{ matrix.version }}-nanoserver antrea/golang:${{ matrix.version }}-nanoserver
